<form [formGroup]="forma">
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody formArrayName="products">
            <tr *ngFor="let product of products.controls; let i = index">
                <td>{{product.get('id').value}}</td>
                <td>{{product.get('name').value}}</td>
                <td>{{product.get('category').value}}</td>
            </tr>
        </tbody>
    </table>
</form>

<hr>
<hr>

<pre>
  Estado del formulario: {{ forma.valid }}
  <br>
  Status: {{ forma.status }}
</pre>

<pre>
  {{ forma.value | json}}
</pre>